.servers-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1f22;
  /* background-color: #101113; */
  overflow-y: auto;
}

.server-pic {
  height: 48px;
  width: 48px;
  border: 1px solid transparent;
  border-radius: 24px;
  object-fit: cover;
  cursor: pointer;
}

.server-pic:hover {
  border-radius: 16px;
}

.server-pics {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 72px;
  flex-direction: column;
  align-items: center;
}

.dis-logo {
  height: 48px;
  width: 48px;
  border: 1px solid transparent;
  border-radius: 16px;
  object-fit: cover;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;

}

.logo-container {
  display: flex;
  width: 72px;
  flex-direction: column;
  align-items: center;
}

.seperator {
  width: 36px;
  border-bottom: 2px #35363c solid;
}

.under-server-pic {
  height: 48px;
  width: 48px;
  border: 1px solid transparent;
  border-radius: 24px;
  object-fit: cover;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.under-server-pic:hover {
  border-radius: 16px;
}

.server-scrollable-column {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid orange;
}

/*server scrollbar*/
.server-scrollable-column::-webkit-scrollbar {
  width: 0.1em;
}

.server-scrollable-column::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.server-modal {
  border-radius: 100%;
  border: none;
  height: 48px;
  width: 48px;
  background-color: #313438;
  color: #21A759;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-channel {
  background-color: transparent;
  border-radius: 0px;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  font-size: 12px;
  color: grey;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

.create-channel:hover {
  color: rgb(201, 201, 201);
  ;
}
