.form{
    flex-direction: row;
    overflow-x: hidden;
    padding: 10px;
}
.form input{
    padding: 1rem;
    outline: none;
    background-color: #2B2D31;
    border: none;
    color: white;
    border-radius: 0px 10px 10px 0;
    width: 85%;
}
.form button{
    padding: 1rem;
    border: none;
    border-radius: 10px 0 0 10px;
    
  }
  .message-bar{
    flex-grow: 1;
    width:100%;
  }
  .message-form{
    display: flex;
    flex-direction: column;
  }
