.landing-wrapper {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../../assets/images/landing-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex; /* Use flex to make children stretch vertically */
  flex-direction: column; 
  overflow-x: hidden;
}

#landing-img-container {
  left: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#landing-body-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-heading {
  color: white;
  font-family: 'Black Han Sans';
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 2px;
  width: 55%;
  margin-top: 7.5rem;
}

#landing-intro {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 2rem;
  width: 60%;
  max-width: 50rem;
  line-height: 2rem;
}

#signup-link {
  font-size: 18px;
  padding: 1rem 2rem;
  font-weight: 600;
  color: white;
  background-color: #23272a;
}

.socials {
  background-color: #23272A;
  display: flex;
  color: white;
  text-align: center;
  width: 100%;
}

.socials > div {
  flex: 1;
}
.landing-footer {
  background-color: #23272A;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.dev-text{
  color: #7983F5;
  border-bottom: 1px solid #7983F5;
  width: 500px;
  padding-bottom: 0.5rem;
}


.github-icon{
  color: white;
  font-size: 20px;
  margin: 0.5rem 0 0.5rem 1rem;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  transition: opacity 1s ease-in-out; /* Add a transition for smooth fade-in */
  text-decoration: none;
}

.linkedin-icon{
  color: white;
  margin: 0.5rem 0 05rem 1rem;
  font-size: 20px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  transition: opacity 1s ease-in-out; /* Add a transition for smooth fade-in */
  text-decoration: none;
}
.github-icon.fade-in, .linkedin-icon.fade-in {
  opacity: 1;
}

.landing-icons{
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.inner-icon-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Align items vertically in the center */
}

.inner-icon-text {
  position: relative;
  margin-left: 0.5rem;
  font-size: 14px;
  text-align: justify;
  vertical-align: baseline; /* Add this line */
}


.social-names{
  color: #949BA4;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
