#create-server-container {
  width: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-server-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
}

#create-server-heading {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
  color: #060607;
  /* margin: 1rem .4rem 0; */
}

.create-server-item {
  display: flex;
  align-items: center;
  font-size: 11px;
  letter-spacing: .75px;
  font-weight: 600;
  color: #4E5058;
}

#create-server-caption {
  color: #4E5058;
  font-size: 14px;
  text-align: center;
  width: 90%;
}

.create-server-input {
  border: none;
  border-radius: .2rem;
  background: #EBEBEB;
  height: 2rem;
  width: 100%;
  padding: 0 .5rem;
}

.create-server-input:focus {
  outline: none;
}

#server-img-section {
  display: flex;
  justify-content: center;
}

#img-upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  gap: .2rem;
  margin: 2rem 0;
}

#image_url {
  font-weight: bolder;
  color: #4E5058;
}

#server-private-section {
  display: flex;
  gap: .5rem;
}

#server-submit-container {
  background: #EBEBEB;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

#create-server-back {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 12px;
  font-weight: bold;
  color: #4E5058;
}

#create-server-submit {
  cursor: pointer;
  height: 2.5rem;
  background: #5865F2;
  color: white;
  border: none;
  border-radius: .25rem;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: .5px;
  padding: 0 1.5rem;
}

#create-server-submit:hover {
  background: #4752c4;
}

#create-server-submit:active {
  background: #3c45a5;
}
