.friends-buttons {
    display: flex;
    margin: 20px 0px 20px 15px;
}

.friends-nav {
    cursor: pointer;
    color: #B5BAC1;
    font-size: 16px;
    margin-right: 20px;
    padding: 2px 5px 2px 5px;
}

.active-friend {
    border: 1px transparent solid;
    background-color: rgba(211, 211, 211, 0.1);
    ;
    border-radius: 5px;
    color: white;
}

.list-header {
    color: #B5BAC1;
    font-size: 14px;
    margin: 5px 0px 0px 15px;
    padding: 2px 5px 10px 5px;
    border-bottom: 1px #3F4147 solid;
}

.listed-names {
    margin: 5px 0px 0px 15px;
}

.li-friends {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2px 5px 10px 5px;
    border-bottom: 1px #3F4147 solid;
    margin-right: 20px;
    margin-top: 10px;
    align-items: center;
}

.li-users {
    list-style: none;
    display: flex;
    padding: 2px 5px 10px 5px;
    border-bottom: 1px #3F4147 solid;
    margin-right: 20px;
    margin-top: 10px;
    align-items: center;
}

.friend-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listed-name {
    color: #F2F3F5;
    font-size: 16px;
    margin-right: 1rem;
}
.listed-friend-name {
    color: #F2F3F5;
    font-size: 16px;
    margin-left: 1rem;
}

.user-pic {
    height: 48px;
    width: 48px;
    border: 1px solid transparent;
    border-radius: 24px;
    object-fit: cover;
}
.user-pic-alt{
    display: flex;
    height: 48px;
    width: 48px;
    border: 1px solid transparent;
    border-radius: 24px;
    object-fit: cover;
    background: #1E1F22;
    text-align: center;
    color: #949BA4;
    align-items: center;
    justify-content: center;
}
.add-friend-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkmark {
    font-size: 16px;
    color: green;
}

.add-friend-b {
}
