#dash-pub-serv-page {
  display: flex;
  background-color: #313338;
  width: 100%;
  height: 100vh;
}

#dash-pub-serv-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #313338;
}

#dash-pub-serv-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  margin-top: 20px;
}

.pub-serv-element {
  width: fit-content;
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

.pub-img {
  border-radius: 1rem;
  width: 16rem;
  height: 9rem;
  object-fit: cover;
}

.server-find-name {
  color: #B5BABD;
}

.public-server-link {
  text-decoration: none;
}
